<div class="col-md-4 col-md-offset-4">
    <h2>编辑电影讨论版</h2>

    <hr>
    <%= form_for @group do |f| %>

    电影
    <%= f.text_field :movie %>
    <br>
    我的评论
    <br>
    <%= f.text_area :review %>
    <br>

    <%= f.submit "Sumbit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
